
header {
  display: grid;
  grid-template-columns: 3fr


}




#thebahamas {
  position: relative;
  top: 15px;
  left: 15px;
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}
