header {
  position: relative;
}

body {
  border: 2px dashed #111;
}


main {
  border: 2px dashed #111;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "picture1 introduction introduction"
    "energy communications Communications"
    "energy geography picture2"
}


/*
h1 {
  width: 100px;
  border: 15px;
  padding: 5px;
  Margin: 5px;
}
*/



#thebahamas {
  grid-area: thebahamas;
  background-color: rgba(200, 50, 20, 0.5);
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}

#picture1 {
  grid-area: picture1;
}

#picture2 {
  grid-area: picture2;
}
