header {
  width: 1920px;
  margin: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "thebahamas thebahamas thebahamas";



}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 2px dashed #111;

}


main {
  border: 2px dashed #111;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "introduction introduction picture1"
    "energy communications communications"
    "energy geography picture2";
  line-height: 25px;

}
/*
h2 {
  font-family: Roboto, sans-serif;

}
*/


a:link {
  color: rgb(255,0,0)
}

a:visited {
  color:
}

a:hover {
  color:
}

a:active {
  color:
}
/*
main {
  grid-template-rows: repeat(3, 1fr)
}
*/


/*
h1 {
  width: 100px;
  border: 15px;
  padding: 5px;
  Margin: 5px;
}
*/

section {
  background-color: rgba(150, 241, 242, 0.5);
  padding: 20px;

}


#thebahamas {
  grid-area: thebahamas;
  grid-column: 1 / span 3;
  background-color: rgba(150, 241, 242, 0.5);
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}

#communications {
  grid-area: communications;
  display: flex;
  flex-direction: row;
}


#telephones {
  grid-area: telephones;
}

#broadcastmedia {
  grid-area: broadcastmedia;
}

#internetusers {
  grid-area: internetusers;
}

#picture1 {
  grid-area: picture1;
  /*
  background-color: #ddd;
  */
  padding: 20px;
  grid-gap: 20px;

}

#picture2 {
  grid-area: picture2;
}
