header {
  width: 1920px;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "thebahamas thebahamas thebahamas";



}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 2px dashed #111;

}


main {
  border: 2px dashed #111;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "picture1 introduction introduction"
    "energy communications communications"
    "energy geography picture2";
}
/*
main {
  grid-template-rows: repeat(3, 1fr)
}
*/


/*
h1 {
  width: 100px;
  border: 15px;
  padding: 5px;
  Margin: 5px;
}
*/

section {
  background-color: #ddd;
  padding: 20px;
}




#thebahamas {
  grid-area: thebahamas;
  grid-column: 2 / span 1;
  background-color: rgba(200, 50, 20, 0.5);
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;

}

#communications {
  grid-area: communications;
  grid-row: 2 / span 1

}

#picture1 {
  grid-area: picture1;
  background-color: #ddd
  padding: 20px;
}

#picture2 {
  grid-area: picture2;
}
