header {
  display: grid;
  grid-template-columns: 1fr
  background-color: rgba(55,100,145,0.20);
  border: 1px dashed rgb(55, 100, 145);
  grid-template-areas:
    "thebahamas"
}


main {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  grid-template-areas:
    "picture1 introduction introduction"
    "energy communications Communications"
    "energy geography picture2"
}


/*
h1 {
  width: 100px;
  border: 15px;
  padding: 5px;
  Margin: 5px;
}
*/



#thebahamas {
  grid-area: thebahamas;
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}

#picture1 {
  grid-area: picture1;
}

#picture2 {
  grid-area: picture2;
}
