
header {
  display: grid;
  grid-template-columns: 3fr
}

h1 {
  width: 100px;
  border: 15px;
  padding: 5px;
  Margin: 5px;
}



header {
  background-color: rgba(55,100,145,0.20);
  border: 1px dashed rgb(55, 100, 145);
}

]

}




#thebahamas {

}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}
