@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap');


nav {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-family: "Poppins, Arial", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration-style: underline;
  color: rgb(63, 170, 242);
}


header {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "SonnyCartonBroadcasting";
  color: rgb(195, 195, 195);
  margin-bottom: 8px;
  line-height: 40px;
}



body {
  font-family: "Poppins", "Open Sans", "Arial", sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: auto;
}


main {
  border: 2px dashed #111;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
}



section {
  background-color: rgb(26, 26, 26);
  padding: 12px;
  margin: 0;
}

h2, h3 {
  padding: 0;
  margin: 0;
}

h4 {
  color:rgb(255,255,255)
}

h2 {
  width: fit-content;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color:rgb(210, 210, 210);
  margin-bottom: 15px;
}

h3 {
  color: rgb(63, 170, 242);
  font-family: "Arial", sans-serif;
}


table, ul {
  margin-top: 10px;
  color: rgb(195, 195, 195);
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
}


p {
  font-family: "Open Sans", "Arial" , sans-serif;
  color: rgb(195, 195, 195);
  line-height: 26px;
}


figcaption {
  color: rgb(195,195,195);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: auto;
  display: block;
  width: fit-content;
}



a:link {
  color: rgb(255,255,255);
}

a:visited {
  color: rgb(230, 230, 230);
}

a:hover {
  color: rgb(63, 170, 242);
}

a:active {
  color: rgb(148,230,218);
}

abbr[title] {
  text-decoration-color: rgb(148, 230, 218);
  text-decoration-style: wavy;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}


figure {
  margin: auto;
  display: block;
  width: fit-content;
}


#SonnyCartonBroadcasting {
  grid-column: 1 / span 3;
  background-color: rgb(26, 26, 26);
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  line-height: 40px;
  width: 100%;
}


#futureplans {
  grid-column: 1 / span 3;
  background-color: rgb(26, 26, 26);
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  line-height: 40px;
  width: 100%;
}


h1 {
  width: 100%;

}


#broadcastjourney {
  grid-column: 1 / span 3;
  background-color: rgb(26, 26, 26);
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  line-height: 40px;
  width: 100%;
}


#introduction {
  line-height: 30px;
  max-width: 568px;
  grid-area: 1 / span 3;
}

#awards {
  line-height: 30px;
  max-width: 568px;
}


#brjourney {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "howdid whybroad"
                       "pastwork pastwork";
}

#howdid {
  grid-area: "howdid";
}

#whybroad {
  grid-area: "whybroad";
}

#pastwork {
  grid-area: "pastwork";
}


#Ustadshow {
  margin-top: 30px;
}

#finalvarsity, #waitingsoccer {
  margin-top: 10px;
}

#contactme {
margin-left: -25px;
}

#skills {
  margin-left: -25px;
}


.podvids {
  margin: auto;
  display: block;
  border: 0;

}


.websiteImage {
  margin: auto;
  display: block;
  width: fit-content;
}
