
head {
  grid-template-columns: 3fr


}


body {
  font-family: "Arial", "Tahoma";
  line-height: 1.5;
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;


#thebahamas {
  position: relative;
  top: 15px;
  left: 15px;
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#energy {
  grid-area: energy;
}
